*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	text-decoration: none;
	text-align: justify;
}

body{
	background-color: #f7f7f7;
}
.container{
	margin: auto;
	max-width: 1200px;
	width: 90%;

	display: flex;
	flex-flow: row wrap;
}

header, footer{

	background-color: #ffd700;
	color: #ffffff;
	padding: 1em;

	align-items: center;
	display: flex;
	flex-basis: 100%;
	flex-flow: row wrap;
	justify-content: space-between;
}

header nav{
	background-color: #FF6347;
	padding: 1em;
	text-align: center;

	flex-basis: 85%;
}

header nav a{
	color: #ffffff;
	padding: 1em;
	text-transform: uppercase;

	justify-content: space-around;
}

header nav a:hover{
	background-color: #daa520;
}

section{
	background-color: #ffffff;
	padding: 1.5em;

	flex: 1 1 60%;
}

section p, section hr, section h1{
	margin-bottom: 1em;
}

aside{
	background-color: #FF6347;

	flex: 1 1 40%;
}

aside p{
	background-color: #ffd700;
	margin: 1em;
	padding: 1em;
}

footer{
	padding: 1.5em 0;


	justify-content: center;
}

@media (max-width: 760px){
	.container{
		flex-direction: column;
	}
	header{
		margin: 0;
		padding: 0;

		justify-content: center;
	}
	header nav{
		flex-basis: 100%;
	}
	h2{
		padding: 1.5em 0;
	}
}