*{
	margin: 0;
	padding: 0;
	font-size: 16px;
	box-sizing: border-box;
	font-family: sans-serif;
	text-decoration: none;
	text-align: justify;
}

img{
	padding-top: 0.5em;
	width: 10%;
}

nav{
background-color: #4682b4;
text-align: center;

}

nav a{
	color: #fff;
	display: inline-block;
	padding: 0.5em;
}

nav a:hover{
	color: #FF6347;
}

section{
	float: left;
	height: auto;
	margin: 0 0.5em 0.5em;
	width: 60%;
}

article{
	border: 1px solid #ccc;
	margin-top: 0.5em;
	padding: 1em;
}

p{
	text-align: justify;
}

aside{
	background-color: #f7f7f7;
	height: auto;
	margin-top: 0.5em;
	width: 35.5%;
	padding: 1em;
	float: left;
}

footer{
	background-color: #4682B4;
	bottom: 0px;
	float: left;
	padding-top: 1em 0 1em 0;
	position: fixed;
	width: 100%;
}

footer p{
	color: #fff;
	font-size: 0.9em;
	text-align: center;
}
	
	
	
}